# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AliceEmre.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\Unity Projects\AliceEmre\.idea\.idea.AliceEmre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
